services:
  postgres-server:    # The Postgres Database Service
    image: postgres:latest
    restart: always
    environment:   # Username, password and database name variables
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix
      POSTGRES_DB: zabbix
      PG_DATA: /var/lib/postgresql/data/pgdata #data storage
    networks:
      - default

  zabbix-server:     # The main Zabbix Server Software Service
    image: zabbix/zabbix-server-pgsql:latest
    restart: always
    environment:   # The Postgres database value variable
      DB_SERVER_HOST: postgres-server
      DB_SERVER_PORT: 5432
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix
      POSTGRES_DB: zabbix
      ZBX_HISTORYSTORAGETYPES: log,text #Zabbix configuration variables
      ZBX_DEBUGLEVEL: 1
      ZBX_HOUSEKEEPINGFREQUENCY: 1
      ZBX_MAXHOUSEKEEPERDELETE: 5000
    depends_on:
      - postgres-server
    # volumes:  # Volumes for scripts and related files you can add
    #   - /usr/lib/zabbix/alertscripts:/usr/lib/zabbix/alertscripts
    ports:
      - 10051:10051
    networks:
      - default

  zabbix-web:    # The main Zabbix web UI or interface 
    image: zabbix/zabbix-web-nginx-pgsql:latest
    restart: always
    environment:  # Postgres database variables
      DB_SERVER_HOST: postgres-server
      DB_SERVER_PORT: 5432
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix
      POSTGRES_DB: zabbix
      ZBX_SERVER_HOST: zabbix-server  # Zabbix related and Php variables
      ZBX_POSTMAXSIZE: 64M
      PHP_TZ: "Europe/Moscow"  
      ZBX_MAXEXECUTIONTIME: 500
    depends_on:
      - postgres-server
      - zabbix-server
    ports:    # Port where Zabbix UI is available
      - 8080:8080
    networks:
      - default

  # adminer:  #Optional for accessing databases
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8081
  
  # grafana-xxl:  #optional more functional and creative UI 
  #   image: monitoringartist/grafana-xxl:latest
  #   ports:
  #     - 3000:3000
networks:
  default:
    name: zabbix_network
    driver: bridge
