services:
  postgres-server:    # The Postgres Database Service
    image: postgres:latest
    restart: always
    env_file:
      - .env
    networks:
      - default
    volumes:
      - postgresdata:/var/lib/postgresql/data

  zabbix-server:     # The main Zabbix Server Software Service
    image: zabbix/zabbix-server-pgsql:latest
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres-server
    volumes:  # Volumes for scripts and related files you can add
      - ./alertscripts:/usr/lib/zabbix/alertscripts
    ports:
      - 10051:10051
    networks:
      - default

  zabbix-web:    # The main Zabbix web UI or interface 
    image: zabbix/zabbix-web-nginx-pgsql:latest
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres-server
      - zabbix-server
    # ports:    # Port where Zabbix UI is available
    #   - 8080:8080
    networks:
      - default

  nginx-proxy:
    image: nginx:alpine
    ports:
      - "80:80" # Map external port 80 to Nginx container's port 80
      # - "443:443" # Uncomment for SSL
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro # Mount custom nginx config
      # Mount SSL certs here if needed
    networks:
      - default
    depends_on:
      - zabbix-web
  
  grafana-xxl:  #optional more functional and creative UI 
    image: monitoringartist/grafana-xxl:latest
    env_file:
      - .env
    depends_on:
      - Zabbix-web
    # ports:
    #   - 3000:3000

volumes:
  postgresdata:

networks:
  default:
    name: zabbix_network
    driver: bridge
